{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-horizontal" method="post" action="">{% csrf_token %}
            <div class="form-group">
                <label for="id_username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-2">
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="id_email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-2">
                    <input type="email" name="email" class="form-control" id="id_email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="id_password1" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-2">
                    <input type="password" name="password1" class="form-control" id="id_password1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="id_password2" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-2">
                    <input type="password" name="password2" class="form-control" id="id_password2" placeholder="Password (Again)">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-2">
                    <input type="submit" class="btn btn-default" id="id_password" value="register" />
                </div>
            </div>
        </form>
    </div>


{#    <form method="post" action="">{% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="register" />#}
{#    </form>#}
{% endblock %}