blinker==1.4
decorator==4.0.9
Flask==0.10.1
Flask-SQLAlchemy==2.1
Flask-Admin==1.4.0
Flask-WhooshAlchemy==0.56
flask-whooshee==0.2.0
Flask-WTF==0.12
gunicorn==19.5.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pbr==1.9.1
six==1.10.0
SQLAlchemy==1.0.13
sqlalchemy-migrate==0.10.0
sqlparse==0.1.19
Tempita==0.5.2
Werkzeug==0.15.3
Whoosh==2.7.4
WTForms==2.1
#psycopg2==2.6.1	# used for postgres heroku deploy
